.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
}
.bg{
	width:100%;
	height: 272px;
	margin-top: 90px;
	background-image: url('../../img/news/news-bg1.jpg');
}
.bg .title{
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 272px;
}
.main{
	width: 100%;
	margin: 0 auto;
}
.news-list{
	width: 100%;
	margin: 40px 54px;
}
@media  screen and (max-width: 768px) {
	.news-list{
		margin: 40px 0;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.news-content{
		width: 70%;
	}
}
@media  screen and (min-width: 768px) {
	.news-list{
		margin: 40px 0;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.news-content{
		width: 72%;
	}
}
.news-list li{
	height: 145px;
	color: #fff;
    padding: 10px 0 0 10px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #82CCEB;
    overflow: hidden;
	box-sizing: border-box;
}
.news-list li:hover a{
	text-decoration: none;
	color: #000;
}
.news-list li a{
	display: block;
	height: 100%;
	padding: 40px 0;
	box-sizing: border-box;
	cursor: pointer;
}
.news-list li a:hover h3,.news-list li a:hover .more{
	color: #cf000d;
}
.news-list li .time{
	font-size: 40px;
    color: #b0b0b0;
}
.news-list li .time span{
	display: block;
}
.news-list li .time span:last-child{
	color: #888;
    font-size: 14px;
}
.news-content {
    margin-top: 6px;
    box-sizing: border-box;
}
.news-info h3 {
	height: 24px;
	color: #555;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-info p {
	height: 19px;
    color: #888;
	margin-top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.more {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 45px;
    font-size: 12px;
    color: #555;
}
.more i{
	padding-top: 10px;
}